.navbar {
  background-color: #c1efff;
}

.navbar > div > ul > li {
  padding: 10px;
}

.navbar > div > ul > li > a:hover {
  text-decoration: underline;
  color: rgb(119, 0, 0);
}

li {
  display: inline-block;
}

li > a {
  text-decoration: none;
}
